.header-class{
    background-color: brown;
    border:3px solid black;
    width:100%;
    height: 10%;
}
.header-data-class{
    padding:0px 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration:none;
    color: black;
}
@media screen and (min-width: 326px) and (max-width: 553px){
    .header-data-class{
        padding:0px 5px;
        font-size:20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-decoration:none;
        color: black;

    }
}
@media screen and (min-width: 0px) and (max-width: 326px){
    .header-data-class{
        padding:0px 5px;
        font-size:13px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-decoration:none;
        color: black;
        line-height: 10vh;
    }
}
#home-id a{
    margin-right:2%;
    float: right;
    color:white;
    text-decoration: none;
}


.main-class{
    height: 100%;
    width: 100%;
}
.content-class{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.content-class2{ 
    width: 68%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
}

.input-content-class{
    display: flex;
    flex-direction: row;
    height:50%;
    width:98%;
    margin:1%;
}
.input-div-class{
    width:70%;
    height:100%;
}
.input-class{
    height: 40%;
    width: 98%;
    background-color:lightgrey;
    margin: 1%;
}
.button-div-class{
    width: 30%;
    background-color:thistle;
    border: 3px solid black;
    border-radius: 8px;
    margin:1%;
    margin-top:0.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-class{
    border: 2px solid black;
    background-color: black;
    justify-content: center;
    margin:1% auto;
    width:50%;
    height:30%;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.useOptions-class{
    margin:1%;
    height:50%;
    width:97%;
    border:1px solid black;
    text-align: left;
    line-height: 150%;
    background-color:beige;
    font-size: medium;
    overflow: auto;
}

.nav-div-class{
    margin: 1%;
    width: 28%;
}
.nav-class{
    background-color: wheat;
    overflow: auto;
    font-size:  100%;;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 3vh;
    height: 100%;
    text-align: center;
}
.list-class{
    line-height: 250%;
    font-weight: bold;
    float: left;
}
label{
    float: left;
}
.time{
    margin-top:5%;
}
.epoch-time{
    border:1px red solid;
    background-color: black;
    color: white;
    padding:3px;
}
.define-class{
    height:50%;
    width:100%;
    border: 2px solid brown;
    background-color: bisque;
    line-height: 130%;
    font-size: larger;

}
.footer-class{
    position:absolute;
    margin-top:1%;
    height: 20px;
    width: 99%;
    padding:10px 0px;
    text-align: center;
    color: white;
    background-color: #3b1c32;
}

@media screen and (max-width: 762px) {
    .content-class{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-div-class{
        margin: 1%;
        width: 98%;
    }
    .content-class2{ 
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 3px;
    }
    .input-class{
        height: 50%;
        width: 98%;
    }
    .button-class{
        height: 40%;
        font-size: 9px;
    }

}
@media screen and (max-width: 328px) {
    .button-class{
        height: 40%;
        font-size: 6px;
    }
}

